.DS_Store
*.elf
*.hex
*.map
*.d
*.s#*
*.b#*
*.dsn
*.scr
*.eps
*.zip
*.eep
*.lss
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
